<a href="https://colab.research.google.com/github/oliviachchoi/Python-Studies/blob/master/%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C_%EB%AA%A8%EC%9D%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#사용자로부터 점수를 3개 입력받아 모든 점수가 65점보다 클 경우 true 아닐 경우 false를 출력하라

In [ ]:
#1. 국어, 영어, 수학 점수가 키로하는 딕셔너리를 만들어보자. 각가의 점수는 다음과 같다.
dict_1= {'국어':87,'영어':88,'수학':92}
dict_1
type(dict_1)
dict_1.keys()
dict_1.values()
dict_1.items()

dict_items([('국어', 87), ('영어', 88), ('수학', 92)])

In [ ]:
#2. 다음 연산들의 값을 예측 해 보자.
3<=1 #false
6%3==0 #true
s1%s2=='b' #false
s1%s2=={'b'} #true

In [ ]:
#연습문제4
a="20190505chicken19000"
year = a[0:4]
month=a[4:6]
day=a[6:8]
menu=a[8:15]
money=a[15:]
print('year:',year,'month:',month,'day:', day,"menu :", menu,"money :", money)

year: 2019 month: 05 day: 05 menu : chicken money : 19000

In [ ]:
#b로 a를 나눈 나머지가 3 초과면 실패, 3이면 무승부, 3 미만이면 성공이 출력되도록 만들어 보자.

a=34
b=4

if a%b>3:
  print('실패')
elif a%b==3:
  print('무승부')
else:
  print('성공')

성공

In [ ]:
#2. 사용자로부터 점수를 3개 입력받아 모든 점수가 65점보다 클 경우 합격, 아닐경우 불합격을 출력하세요.
#단 0~100 이 아닌 숫자가 입력 된 경우 잘못된 점수가 입력되었습니다를 출력하세요.

a= int(input('점수는:'))
b= int(input('점수는:'))
c= int(input('점수는:'))

if 0<=a<=65 and 0<=b<=65 and 0<=c<=65:
  print('불합격')
elif a>65 and b>65 and c>65:
  print('합격')
else:
  print('잘못된 점수가 입력되었습니다')

점수는:33
점수는:-1
점수는:4
잘못된 점수가 입력되었습니다

In [ ]:
#홀수, 짝수 판별기
#사용자로부터 정수를 하나 입력받아 입력한 정수가 홀수인지 짝수인지 판별하여라.

a= int(input('정수를 입력해주세요:'))
if a>0:
  if a%2==0:
    print('입력하신 %d는 짝수입니다'%a)
  else:
    print('입력하신 %d는 홀수입니다'%a)
else: 
  print('음의 정수입니다')

정수를 입력해주세요:5
입력하신 5는 홀수입니다

In [ ]:
#양의 정수 하나를 입력받아 이 정수가 2의 배수인지 3의 배수인지 작성하시오
a = int(input('숫자는:'))

if a>0:
  if a%2==0 and a%3==0:
    print('공통인자입니다')
  elif a%2==0:
    print('2의 배수입니다')
  elif a%3==0:
    print('3의 배수입니다')
  else:
    print('해당하지 않습니다')
else: 
  print('음수입니다')

숫자는:-40
음수입니다

In [ ]:
#구구단 작성 --이중 for 문
for i in range(1,10):
  print('%d 단---'%i)
  for j in range(1,10):
    print('%d * %d = %d'%(i,j,i*j))

1 단---
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 단---
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 단---
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 단---
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 단---
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 단---
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 단---
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 단---
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 단---
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
sum=0
for i in range(1,11):
  sum= i+sum
print(sum)


for i in range(1,11):
  sum=0
  sum= i+sum
print(sum)
#sum을 for문 안에 써버리면 계속 sum이 0으로 초기화 되기 때문에 
#누적 합을 구하려면 sum을 맨 위에 보내줘야함

10

In [ ]:
#연습문제 1.사용자로부터 정수를 입력받아, 해당 정수만큼 안녕을 출력하세요.
a= int(input())
for i in range(a):
  print('안녕')

3
안녕
안녕
안녕

In [ ]:
#2. 사용자로부터 정수를 입력받아 입력된 정수 만큼 별 찍기
a = int(input())
for i in range(a):
  print((i+1)*'*')

3
*
**
***

In [ ]:
#3.사용자로부터 정수를 입력받아 입력된 정수만큼 별 찍기 역순
a = int(input())
for i in range(a,0,-1):
  print((i)*'*')

4
****
***
**
*

In [ ]:
#3. 
x=[3,6,9,20,-7,5]
for i in range(len(x)):
  x[i]=x[i]*10

print(x)

[30, 60, 90, 200, -70, 50]

In [ ]:
for i in x:
  print(10*i)

30
60
90
200
-70
50

In [ ]:
#2. 
y={'math':70,'science':80, "english":20}
#dict -> key로 접근을 해야만 value가 따라옴
for i in y :
  val = y[i]
  y[i]=y[i]+10
  print('%s : %d'%(i,y[i]))

#i는 val에 접근
#keys에는 어떻게 접근하는지 연구해보기

math : 80
science : 90
english : 30

In [ ]:
y={'math':70,'science':80, "english":20}
#dict -> key로 접근을 해야만 value가 따라옴
for i in y :
  val = y[i]
  val=y[i]+10
  print('%s : %d'%(i,val))

math : 80
science : 90
english : 30

In [ ]:
#3.
a = int(input('정수를 입력해주세요'))
for i in range(1,10):
  print('%d * %d= %d'%(a,i,a*i))

정수를 입력해주세요5
5 * 1= 5
5 * 2= 10
5 * 3= 15
5 * 4= 20
5 * 5= 25
5 * 6= 30
5 * 7= 35
5 * 8= 40
5 * 9= 45

In [ ]:
#4.
word=['school','game','piano','science','hotel','mountain']
a=[]
for i in range(len(word)):
  if len(word[i])>=6:
    a.append(word[i])
  else:
    pass
print(a)

['school', 'science', 'mountain']

In [ ]:
#4-2 구구단 1~9단
for i in range(1,10):
  print('------%d단 ----'%i)
  for j in range(1,10):
    print('%d*%d=%d'%(i,j,i*j))

------1단 ----
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
------2단 ----
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
------3단 ----
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
------4단 ----
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
------5단 ----
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
------6단 ----
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
------7단 ----
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
------8단 ----
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
------9단 ----
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [ ]:
#5.
for i in range(1,101):
  if i>0:
    if i%3==0 and i%5==0:
      print('3과 5의 공배수')
    elif i%3==0:
      print('3의 배수')
    elif i%5==0:
      print('5의 배수')
    else:
      print(i)
  else:
    print('음수는 정의하지 않음')

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [ ]:
#6. 사용자로부터 숫자를 계속 입력받다가 s or S를 입력하면 합계 출력
a= input('값을 입력 해 주세요')
c=0
d=1

while d==1:
  a= input('값을 입력 해 주세요')
  if (a=='s' or a=='S'):
    d=0 #왜 d==0은 오류나?
  else:
    a=int(a)
    c+=a
print(c)

값을 입력 해 주세요4
값을 입력 해 주세요s
0

In [ ]:
#7. 
kor_score=[39,69,20,100,80]
math_score=[32,59,85,30,90]
eng_score=[49,70,48,60,100]

midterm_score=[kor_score,math_score,eng_score]

#list(zip(kor_score,math_score,eng_score))로 해도 됨!- 이의광님 풀이

In [ ]:

student_score=[0,0,0,0,0]
i=0

#빈칸 생성
for subject in midterm_score: #kor? math? eng?
#kor[0]+math[0]+eng[0]
#row
  for score in subject:
    #한번 더 접근하면 각각 score
    student_score[i]+=score
    i+=1
  i=0
else:
  a,b,c,d,e=student_score
  student_average=[a/3,b/3,c/3,d/3,e/3]


student_average

[40.0, 66.0, 51.0, 63.333333333333336, 90.0]

In [ ]:
#가위바위보 문제?

In [ ]:
#연습문제 
#어떠한 string을 받으면 일정한 단위로 끊어서 화면에 출력하는 함수를 짜보자. 끊는 단위는 따로 정하지 않으면 2로 설정 해 보자.
def func(string, unit=2):
  i=0
  while i<len(string):
    print(string[i:i+unit])
    i+=unit
func('테스트를 위한 문장입니다.')
func('테스트를 위한 문장입니다',4)

테스
트를
 위
한
문장
입니
다.
테스트를
 위한
문장입니
다

In [ ]:
 def add_all(*input):
   s=0
   for i in range(len(input)):
     s+= input[i]
    return s

  def add_all1(*input):
    return sum(inputs)

  def add_all2(*input): #list는 받아들임
  #tuple은 안됨
    s=0
    for i in input:
      for j in i
      s+=j 
    return s
def add_all3(*input)

In [ ]:
#pop quiz
#문제를 먼저 풀어보자. 여기는 동네 유명한 빵집이다. 사람들에게 먼저 온 순서대로 번호표를 나눠주려고 한다. 번호표를 나누어주는 함수를 작성해보자.
#함수는 사람 이름으로 되어있는 리스트를 받아서 '대기번호 x번: 사람이름 을 출력하고, 번호표, 사람이름을 원소로 이루어진 리스트를 반환한다.

# people=['펭수','뽀로로','뚝딱이','텔레토비']

# def func1(*args):
#   for i in range(len(args)):
#     print(f'대기번호 {i+1}번: {people[i]}')
#   return

# lines=func1(people)
# people=['펭수','뽀로로','뚝딱이','텔레토비'] #? 안됨


# def func1(line):
#   new_lines=[]
#   i=1
#   for x in line:
#     print(f'대기번호 {i}번 : {x}')
#     new_lines.append((i,x))
#     i+=1
#   return new_lines
# lines=func1(people)

SyntaxError: ignored

In [ ]:
#1. for문
#구구단 2단을 list comprehension을 이용하여 구현하고 리스트를 화면에 출력해보자.

In [ ]:
#233 Quiz2
#내가 짠 것
a="코로나 바이러스를 예방하기 위해 사회적 거리두기를 실천합시다. 마스크를 끼고 손씻기를 생활화합시다"
# c=a.split(' ')
# b=[]
# for i in range(len(c)):
#   b.append(len(c[i]))

# d=[]
# for i in zip(b,c):
#   d.append(i)

# d

len_sent=[len(s) for s in a.split()]
len_sent

[3, 5, 4, 2, 3, 5, 6, 4, 2, 4, 6]

In [ ]:
lc_2 = [x for x in range(10,21) if x%2==0]
lc_2

[10, 12, 14, 16, 18, 20]

In [ ]:
#236-1
lc_3=[pow(x,2) for x in range(1,11) if pow(x,2)<=50]
lc_3

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
#2. 
#다음의 문장을 분석해보자.
a="코로나 바이러스를 예방하기 위해 사회적 거리두기를 실천합시다. 마스크를 끼고 손씻기를 생활화합시다"
b=[]
c=a.split(' ')
for i in range(len(c)):
  if len(c[i])<5:
    b.append(c[i])
b

['코로나', '예방하기', '위해', '사회적', '마스크를', '끼고', '손씻기를']

In [ ]:
#238 -1
#1. 40이하의 숫자는 5를 더하고, 40 초과의 숫자는 41로 바꾸어 리스트로 저장하고 리스트를 출력하여라
c=[]
for i in range(1,51):
  if i <=40:
    c.append(i+5)
  else:
    c.append(i)
c

[6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [ ]:
#2. 컷트라인이 60점일때, 사람이름과 통과여부를 리스트로 담아서 출력하라. 이름과 통과여부는 튜플로 묶여있는 자료이다.
students={'보라돌이':61,
          '뚜비': 35,
          '나나': 78,
          '뽀': 88}

result=[(name,'통과') if score>=60 else (name,'실패') for name,score in students.items()]
result

[('보라돌이', '통과'), ('뚜비', '실패'), ('나나', '통과'), ('뽀', '통과')]

In [ ]:
#for if 문
#quiz1 238
lc_5 =[12,67,32,48,19,57,29,49]
#저장 할 값 for x in range(a if x<40 else ?)
#list comprehension 특징 if하나는 허용하지만 조건문 두개앞에서만 되는 특징이 있음
lc_6=[x+2 if x<=40 else 41 for x in lc_5]

In [ ]:
#numpy 로또 번호 생성기
import numpy as np

def make_lotto(count):
  for i in range(count):
    lotto_num=[]
    lotto_num=np.random.choice(range(1,46),6,replace=False)
    lotto_num.sort()
    print(f'{i+1}. 로또번호: {lotto_num}')

make_lotto(4)

1. 로또번호: [ 6 19 20 28 31 34]
2. 로또번호: [ 6 12 19 20 24 25]
3. 로또번호: [ 1  6 16 18 28 29]
4. 로또번호: [ 7 17 23 36 38 40]

AttributeError: ignored